<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
  	<title>arkanoid</title>
  		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Sanchez" rel="stylesheet">
    	<link rel="stylesheet" href="style.css">
  
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>

    	<script src="app.js"></script>
  </head>
	
  <body  ng-controller="MyController" class="box " ng-keypress="move()" tabindex="0"  >

  		<h1> ARKANOID </h1>

	  	<div class="game-box">
		
		  	<p class="alert lose animation" ng-if="game.lose">YOU LOSE</p>
		  	<p class="alert win animation"  ng-if="game.win" >NEW  RECORD:{{game.record}}</p>
		  	<p class="alert info"           ng-if="game.info"> press "a" to move left<br><br> press "d" to move right<br><br>press "enter" to play/pause background music</p>

			<div class="ball"  ng-if="ball.show" style = "top: {{ball.y}}px; left: {{ball.x}}px;"></div>

	        <div class="board" style = "left: {{board.x}}px; top: {{board.y}}px; width: {{board.width}}px;"></div>

		</div>

		<div class="game-info">
			<h2>SCORE :</h2>
			<h2>{{game.score}}</h2>
			<h2>RECORD :</h2>
			<h2>{{game.record}}</h2>
		</div>
			<button class="btn btn-default btn-lg btn-block " ng-click="start()" ng-disabled=" !game.start ">START GAME</button>
		
		<p id="footer">Created by Oleksandr Kostryba</p>


		<audio id="back" src="public/sounds/back.mp3" loop></audio>
		<audio id="reflect" src="public/sounds/boink.wav"></audio>



  </body>
</html>